page-food-order {
    .slides .swiper-container {
        height: auto;
    }
    .resto_details .menu-img.slides {
        height: auto;
    }
    .quantity .item{
        width: 25px;
        float: right;
        min-height: 25px;
        border-left: 1px solid #E1E5E9;
        border-right: 1px solid #E1E5E9;
        padding:0px;
    }
    .quantity .button {
        width: 30px;
        float: right;
        margin: 0px;
        height: 28px;
    }
    .quantity {
        border: 1px solid #E1E5E9;
        border-radius: 20px;
        display: inline-block;
    }
    .quantity .item .item-inner {
        padding: 0px;
    }
    .quantity .item .item-inner input {
        margin: 0px;
        text-align: center;
        width: 100%;
        height: 28px;
    }
    .price{
        margin-top: 10px;
    }

    .Order_btn.col .background-lime, .swiper-pagination-bullet-active {
        background: #ADB316;
    }
    .resto_details h5 {
        margin-top: 25pt;
    }
    .feedback_btn img {
        width: 19pt;
        float:right;
    }
    .card {
        margin-left: 0px;
        width: 100%;
    }
    .resto_details p.text-black {
        display: inline-block;
        font-size: 10px;
        font-weight: 500;
        margin: 10px 8px 2px 0 !important;
    }
    .resto_details p {
        display: block;
        font-size: 10px;
        font-weight: 500;
        margin: 10px 8px 2px 0 !important;
    }
    .card {
        border: 1px solid #ccc;
        box-shadow: 0px 2px 6px #cccccc73;
    }

    .resto_details p.text-grey {
        margin: 4px 0px;
    }
    .price .col {
        font-weight: normal;
    }

  .slide-img{
    margin-bottom: 25pt;
    height: 130pt;
    width: 100%;
    object-fit: cover;
  }
}
